<!doctype html>
<html>
<head>
	<title>Awesome Blog</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<% if(env === "development"){ %>
    <link rel="stylesheet" href="/css/app.css">
  <% } else { %>
    <link rel="stylesheet" href="/css/app.min.css">
  <% } %>	
</head>
<body>
	<span><img src="/img/under_construction1.png" style="float: left;"></span>
	<div class="github-fork-ribbon-wrapper right">
	    <div class="github-fork-ribbon">
	        <a href="https://github.com/prasunsultania/demoblog">Fork me on GitHub</a>
	    </div>
	</div>
<div class="alert alert-warning">This site is under construction and is not fully fuctional.</div>

<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span>Awesome Blog</h1>
		<p>Login or Register with:</p>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
	</div>

	<div class="text-center">
		<p>Who am I?</p>		
	</div>
	
	<div class="text-center social-media">
		<a href="https://github.com/prasunsultania"><img src="/img/github.png" alt="github" title="Github"></a>		
		<a href="http://www.linkedin.com/pub/prasun-sultania/29/3b9/64b"><img src="/img/linkedin.png" title="Linkedin"></a>
		<a href="https://twitter.com/prasunsultania"><img src="/img/twitter.png" title="Twitter"></a>
		<a href="https://www.facebook.com/prasun.sultania"><img src="/img/facebook.png" title="Facebook"></a>
		<a href="https://plus.google.com/u/1/105774959853557023808/posts"><img src="/img/googleplus.png" title="Google+"></a>
	</div>
</div>
</body>
</html>