<!doctype html>
<html>
<head>
	<title>Awesome Blog</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<% if (message && message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

	<div class="text-center">
		<p>Who am I?</p>		
	</div>
	
	<div class="text-center social-media">
		<a href="https://github.com/prasunsultania"><img src="/img/github.png" alt="github" title="Github"></a>		
		<a href="http://www.linkedin.com/pub/prasun-sultania/29/3b9/64b"><img src="/img/linkedin.png" title="Linkedin"></a>
		<a href="https://twitter.com/prasunsultania"><img src="/img/twitter.png" title="Twitter"></a>
		<a href="https://www.facebook.com/prasun.sultania"><img src="/img/facebook.png" title="Facebook"></a>
		<a href="https://plus.google.com/u/1/105774959853557023808/posts"><img src="/img/googleplus.png" title="Google+"></a>
	</div>

</div>
</div>
</body>
</html>